/* Importando font "Open Sans" do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* Zerando margin e padding da página em geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Criando seletor chamando a tag NAV de classe "menu"*/
.menu{
  /*Cor de fundo da NAV*/
  background-color: #181819;
}

/*Criando seletor chamando a tag UL dentro da tag NAV*/
.menu ul{
  /*Alinhando os itens da UL em linhas e centralizando*/
  display:flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

/*Criando seletor para a tag LI dentro da tag UL dentro da NAV*/
.menu li {
  /* Definindo tamanho e alinhando itens dentro da tag LI*/
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Criando seletor chamando a tag A dentro da LI dentro da UL dentro da tag NAV*/
.menu ul li a{
  /*Definindo cores dos textos do menu e fonte*/
  color: white;
  text-decoration: none;
  font: normal normal bold 18px/24px Open Sans;
}

/*Criando seletor chamando a tag MAIN*/
main {
  /*Definindo cor de fundo e cores das fontes dentro de MAIN*/
  background-color: #181819;
  color: white;
}

/*Criando seletor chamando a tag section de classe "main-container" dentro de MAIN*/
.main-container{
  /*Definindo imagem de fundo, altura da Section e alinhando itens em coluna*/
  background-image: url("https://i.ibb.co/gVcyFcw/001.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8.25rem;
  font-family: Open Sans;
}

/*Criando seletor chamando a tag H1 da section de classe "main-container" dentro de MAIN*/
.main-container h1 {
  /*Alterando tamanho da fonte do H!*/
  font-size: 112px;
}

/*Criando seletor chamando a tag H2 da section de classe "main-container" dentro de MAIN*/
.main-container h2 {
  /*Alterando tamanho da fonte e "peso" da fonte do H2*/
  font-size: 82px;
  font-weight: 300;
}

/*Criando seletor chamando a tag BUTTON da section de classe "main-container" dentro de MAIN*/
.main-container button {
  /*Definindo tamanho, cor da fonte e cor de fundo do botão*/
  margin-top: 1.5rem;
  width: 260px;
  height: 67px;
  padding: 1rem;
  background-color: #2A12DD;
  border: 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

/*Criando seletor chamando a tag BUTTON de classe "main-container" dentro de MAIN, utilizando seletor :hover quando o usuário passar o mouse em cima do elemento*/
.main-container button:hover {
  /*Quando o usuário passar o mouse em cima do botão, o cursor do mouse mudará para ponteiro*/
  cursor: pointer;
}

/*Criando seletor chamando a tag section de classe "about" dentro de MAIN*/
.about {
  /*Definindo espaçamento interno, largura e estilo da fonte dos elementos dentro da Section*/
  padding: 3rem 6rem;
  width: 65vw;
  font-family: Open Sans;
}

/*Criando seletor chamando a tag H3 da section de classe "about" dentro de MAIN*/
.about h3 {
  /*Definindo margem abaixo da tag H3 para espaçamento*/
  margin-bottom: 2rem;
}

/*Criando seletor chamando a tag P da section de classe "about" dentro de MAIN*/
.about p {
  /*Definindo cor e margem abaixo da tag P*/
  color: #CCCBCB;
  margin-bottom: 2rem;
}

/*Criando seletor chamando a tag A da section de classe "about" dentro de MAIN*/
.about a {
  /*Removendo estilização da tag A e definindo peso e cor da fonte*/
  text-decoration: none;
  font-weight: bold;
  color: #2A12DD;
}

/*Criando seletor chamando a tag FOOTER*/
footer {
  /*Definindo cores de fundo e fonte e alinhando o texto ao centro*/
  background-color: #292828;
  color: white;
  text-align: center;
  padding: 2rem;
}

footer p {
  font: normal normal 0.8rem/0.2rem Open Sans;
}